/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;

$color-gray-dark: #777;
$color-white: white;
$color-black: black;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7; /* 1.7 times higher than usual */
  color: #777;
  padding: 3rem;
  box-sizing: border-box;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url("../img//hero.jpg");
  background-size: cover; /* scale and fit image background */
  background-position: top; /* prevent background cropped out at top */
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
  position: absolute; /* header is the parent */
  top: 4rem;
  left: 4rem;
}

.logo {
  height: 3.5rem;
}

.text-box {
  position: absolute;
  top: 40%; /* to the parent */
  left: 50%;
  transform: translate(-50%, -50%); /* not for parent but the element */
  text-align: center;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 6rem;
}

.heading-primary-main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;

  animation-name: moveInLeft;
  animation-duration: 4s;
  animation-timing-function: ease-out;

  /* 
    animation-delay: 3s; 
    animation-iteration-count: 3;
    
    */
}

.heading-primary-sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.8rem;

  margin-bottom: 4rem;
  animation: moveInRight 4s ease-out;
}

/* Css animation */
@keyframes moveInLeft {
  /* Start */
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translate(2rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  /* Start */
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translate(-2rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* psudo class => state of the element => special condition */

/* initial state */
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 5rem;
  font-size: 70%;
  transition: all 0.2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0rem 1rem 2rem rgba($color-black, 0.2);
}

.btn:active {
  transform: translateY(0.1rem);
  box-shadow: 0rem .5rem 1rem rgba($color-black, 0.2);
}

.btn-white {
  background-color: $color-white;
  color: #777;
}

.btn::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: inline-block;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: $color-white;
}

.btn:hover::after {
  transform: scaleX(1.5) scaleY(1.6);
  opacity: 0;
}

@keyframes moveInBottom {
  /* Start */
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn-animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

