/* Css animation */
@keyframes moveInLeft {
  /* Start */
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translate(2rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  /* Start */
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translate(-2rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* psudo class => state of the element => special condition */

@keyframes moveInBottom {
  /* Start */
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
