.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.4rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 5rem !important;

  @include respond(tab-port){
    margin-bottom: 3rem;
  }
}
.u-margin-bottom-big {
  margin-bottom: 8rem !important;

  @include respond(tab-port){
    margin-bottom: 5rem;
  }
}

.u-margin-bottom-huge {
  margin-bottom: 10rem !important;
}

