.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.2),
      rgba($color-primary-dark, 0.3)
    ),
    url("../img//hero-small.jpg");

    @media (min-resolution:191dpi) and (min-width: 37.5em), (min-width: 125em){
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.2),
        rgba($color-primary-dark, 0.3)
      ),
      url("../img//hero.jpg");
    }
  background-size: cover; /* scale and fit image background */
  background-position: top; /* prevent background cropped out at top */
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  @include respond(phone) {
    clip-path: polygon(0 0, 100% 0, 100% 86vh, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  }

  &__logo-box {
    position: absolute; /* header is the parent */
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;
  }

  &__text-box {
    position: absolute;
    top: 40%; /* to the parent */
    left: 50%;
    transform: translate(-50%, -50%); /* not for parent but the element */
    text-align: center;
  }
}
